html, body {
  margin: 0;
  padding: 0;
  background: #04041C;
}

canvas {
  display: block;
}

.overlay {
  position:fixed;
  padding: 20px;
  bottom:0;
}

.camera {
  font-family: 'Chivo Mono', monospace;
  color: #dcdce2;
  font-size: 10pt;
  line-height: 9pt;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  justify-self: center;
  align-items: center;
}